@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

:root {
    --primary-color: #e3136f;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hind Siliguri", sans-serif;
    width: 300px;
    margin: 0 auto;
}

.schedule-wrap {
    border: 3px solid var(--primary-color);
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.schedule-head {
    color: #fff;
    padding: 0.5rem;
    font-weight: 800;
}

.schedule-head h1 {
    font-size: 50px;
}

.schedule-head h1 span {
    transform: scaleY(2);
    display: inline-block;
}

.schedule-head p {
    font-size: 18px;
    font-weight: bold;
}

.schedule-body {
    border: 2px solid;
    padding: 3px;
}

.schedule-body h3 {
    background: #fff;
    color: var(--primary-color);
    font-size: 25px;
}

.schedule-body table {
    color: #000;
    width: 100%;
}

.schedule-body table thead th {
    background-color: #f5c9de;
}

.schedule-body table tbody tr {
    background-color: #fff;
    color: var(--primary-color);
    font-weight: bold;
}

.schedule-body p {
    font-size: small;
}